openapi: 3.0.0
info:
  title: ABHA Enrollment & Profile Management API V3
  version: v3
  description: >-
    It is important to standardize the process of identification of an
    individual across healthcare providers, to ensure that the created medical
    records are issued to the right individual or accessed by a Health
    Information User through appropriate consent. In order to issue an ABHA
    Number to an individual, one only needs basic demographic details like Name,
    Year of Birth, Gender. In addition, citizens should be able to update
    contact information easily. The ABHA Number will be used for the purposes of
    uniquely identifying persons and authenticating them. An ABHA Address will
    be used for threading their health records (only with the informed consent
    of the patient) across multiple systems and stakeholders.
     
    Notes:
      1. In case you want to consume the ABHA APIs and use creation on your own interface, use authentication methods as OTP only.
      2. In order to have access to ABHA APIs, your clientId must have hid role in gateway. So if you want access to these APIs then please request it in your ABDM on-boarding request.
      3. In order to have access to Integrated Programs ABHA APIs, your clientId must have integrated_program role in gateway. So if you want access to these APIs then please request it in your ABDM on-boarding request. Also you will need to share integrated program benefit name to be used in this case.
      4. When calling APIs, please ensure that Authorization header must have format as Bearer {Token_Value}. Please note that prefix Bearer is followed by space before the token value.
       
  
servers:
  - url: https://abhasbx.abdm.gov.in/abha/api
  - url: http://abhasbx.abdm.gov.in/abha/api
paths:
  /v3/enrollment/request/otp:
    post:
      tags: 
        - ABHA Enrollment
      summary: REQUEST - OTP FOR ENROLLMENT, UPDATE MOBILE and UPDATE EMAIL
      requestBody:
        content:
          'application/json':
            schema:
              type: object
            examples:
              Request OTP Aadhaar based enrollment:
                 value:
                    scope:
                      - abha-enrol
                    loginHint: aadhaar
                    loginId: <RSA Encripted aadhaar number>
                    otpSystem: aadhaar
              Request OTP For DL based enrollment:
                 value:
                    txnId: b7ffebe2-8be8-433a-b447-62eecc45e397
                    scope:
                      - abha-enrol
                      - mobile-verify
                      - dl-flow
                    loginHint: mobile
                    loginId: <RSA Encrypted mobile number>
                    otpSystem: abdm
              Request OTP for mobile verfication:
                 value:
                    txnId: b7ffebe2-8be8-433a-b447-62eecc45e397
                    scope:
                      - abha-enrol
                      - mobile-verify
                    loginHint: mobile
                    loginId: <RSA Encripted mobile>
                    otpSystem: abdm
                    
              Request OTP for email verfication:
                 value:
                    txnId: b7ffebe2-8be8-433a-b447-62eecc45e397
                    scope:
                      - abha-enrol
                      - email-verify
                    loginHint: email
                    loginId: <RSA Encripted email id>
                    otpSystem: abdm
                    
      parameters:
        - name: REQUEST_ID
          in: header
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: TIMESTAMP
          in: header
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                txnId: b7ffebe2-8be8-433a-b447-62eecc45e397
                message: OTP is sent to Aadhaar registered mobile number ending with *******3519
  /api/v3/enrollment/enrol/byAadhaar:
    post:
      tags: 
        - ABHA Enrollment
      summary: ENROL - BY AADHAAR VERIFICATION
      requestBody:
        content:
          'application/json':
            schema:
              type: string
              example: 
               authData:
                 authMethods:
                   - otp
                 otp:
                   timeStamp: '{{current_timestamp}}'
                   txnId: 8c871f83-b928-4cc4-ad11-0fc8bdf3e564
                   otpValue: <RSA encrypted OTP Value>
                   mobile: '7081300000'
               consent:
                 code: abha-enrollment
                 version: '1.4'
               
      parameters:
        - name: REQUEST_ID
          in: header
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: TIMESTAMP
          in: header
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: SUCCESS
                  value:
                    txnId: b7ffebe2-8be8-433a-b447-62eecc45e397
                    ABHAProfile:
                      firstName: Gaurav
                      middleName: ''
                      lastName: Kumar
                      dob: 22-10-1991
                      gender: M
                      photo: >-
                        <Base64 string photo>
                      mobile: '7813010161'
                      email: null
                      phrAddress: null
                      address: >-
                        Gandhi Nagar,
                        Dehri, Rohtas, Bihar
                      districtCode: null
                      stateCode: null
                      pinCode: '821307'
                      qrCode: null
                      abhatype: STANDARD
                      ABHANumber: 91-5408-0214-0264
                      abhaStatus: ACTIVE
                example-1:
                  summary: STANDARD EXISTING SUCCESS
                  value:
                    txnId: 5d2391cb-6f0a-44b9-b367-29450ff21159
                    ABHAProfile:
                      poi: null
                      firstName: Gaurav
                      middleName: ''
                      lastName: Kumar
                      dob: 22-10-1991
                      gender: M
                      photo: >-
                       <Base64 String photo>
                      mobile: null
                      email: null
                      phrAddress: null
                      addressLine1: Gandhi Nagar, Ward- 28, Road No- 3
                      districtCode: null
                      stateCode: null
                      pinCode: '821307'
                      qrCode: null
                      pdfData: null
                      benefitInfo: null
                      abhatype: STANDARD
                      ABHANumber: 91-4044-8764-8705
                      abhaStatus: ACTIVE
                      ABHAStatusReasonCode: null
                example-2:
                  summary: STANDARD ENROL SUCCESS
                  value:
                    txnId: 8ef0d735-8541-4e9b-a215-6d45a59d2017
                    tokens:
                      id_token: null
                      token_type: null
                      expires_in: 0
                      refresh_token: null
                    ABHAProfile:
                      poi: null
                      firstName: Gaurav
                      middleName: ''
                      lastName: Kumar
                      dob: 22-10-1991
                      gender: M
                      photo: >-
                       <Base64 String photo>
                      mobile: null
                      email: null
                      phrAddress: null
                      addressLine1: Karamadai
                      districtCode: null
                      stateCode: null
                      pinCode: '641104'
                      qrCode: null
                      pdfData: null
                      benefitInfo: null
                      abhatype: CHILD
                      ABHANumber: 91-1034-5228-2678
                      abhaStatus: PARENT_LINKING_PENDING
                      ABHAStatusReasonCode: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: 400 - BAD REQUEST
                  value:
                    authMethods: AuthMethod cannot be null or empty
                    Timestamp: Invalid Timestamp
                    otpValue: Invalid OTP Value
                    consentVersion: Invalid Consent Version
                    txnId: Invalid Transaction Id
                    consentCode: Invalid Consent Code
                    mobile: Invalid Mobile Number
                    timestamp: 24-11-2022 20:38:44
                example-1:
                  summary: 400 - BAD REQUEST 1
                  value:
                    authMethods: AuthMethod cannot be null or empty
                    consent: Consent cannot be null or empty
                    otp: >-
                      otp cannot be null or empty OR timeStamp ,txnId or
                      otpValue cannot be null or empty
                    timestamp: 24-11-2022 20:41:02
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
              example:
                code: HIS-422
                message: >-
                  Unable to process the current request due to incorrect data
                  entered.
                details:
                  - message: Ensure correct Aadhaar Information is entered.
                    code: HIS-2018
                    attribute: null
  /api/v3/enrollment/auth/byAbdm:
    post:
      tags:
        - ABHA Enrollment
      summary: VERIFY - EMAIL, MOBILE UPDATE
      requestBody:
        content:
          'application/json':
            schema:
              type: object
            examples:
              Request Verify Email:
                value:
                  scope:
                    - abha-enrol
                    - email-verify
                  authData:
                    authMethods:
                      - otp
                    otp:
                      timeStamp: '{{current_timestamp}}'
                      txnId: b7ffebe2-8be8-433a-b447-62eecc45e397
                      otpValue: <RSA Encrypted OTP Value>
              Request Verify Mobile:
                value:
                  scope:
                    - abha-enrol
                    - mobile-verify
                  authData:
                    authMethods:
                      - otp
                    otp:
                      timeStamp: '{{current_timestamp}}'
                      txnId: b7ffebe2-8be8-433a-b447-62eecc45e397
                      otpValue: <RSA Encrypted OTP Value>
                
      parameters:
        - name: REQUEST_ID
          in: header
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: TIMESTAMP
          in: header
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                txnId: b7ffebe2-8be8-433a-b447-62eecc45e397
                authResult: success
                message: <Mobile/Email> linked successfully
                accounts:
                  - ABHANumber: 91-5408-0214-0264
  /api/v3/enrollment/enrol/byDocument:
    post:
      tags:
        - ABHA Enrollment
      summary: ENROL - BY DOCUMENT
      requestBody:
        content:
          'application/json':
            schema:
              type: string
              example: 
                txnId: c9ba7146-b137-4ab4-a943-34674b9ad741
                documentType: DRIVING_LICENCE
                documentId: MH1320140019057
                firstName: dafdfdsdf
                middleName: ''
                lastName: sadf
                dob: '1996-07-15'
                gender: M
                frontSidePhoto: test
                backSidePhoto: test
                address: '324'
                state: maharashtra
                district: pune
                pinCode: '413005'
                
      parameters:
        - name: REQUEST_ID
          in: header
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: TIMESTAMP
          in: header
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v3/enrollment/auth/byAadhaar:
    post:
      tags:
        - ABHA Enrollment
      summary: AUTH - OF AADHAAR OTP FOR PARENT VERIFICATION
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: 
                scope:
                  - child-abha-enrol
                authData:
                  authMethods:
                    - otp
                  otp:
                    timeStamp: '2022-12-16 13:59:13'
                    txnId: 748dfc7a-07b4-448a-a92a-624b8217913b
                    otpValue: <RSA Encrypted OTP Value>
                
      parameters:
        - name: REQUEST_ID
          in: header
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: TIMESTAMP
          in: header
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                txnId: 319dc077-cd36-4112-b84b-1c1e0a9bbd18
                authResult: success
                accounts:
                  - ABHANumber: 91-2622-2883-8658
                    name: S Sathya
                    yearOfBirth: '1990'
                    gender: F
                    mobile: '9500522418'
  /api/v3/enrollment/enrol/suggestion:
    get:
      tags:
        - ABHA Enrollment
      summary: SUGESSTION
      parameters:
        - name: REQUEST_ID
          in: header
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: TIMESTAMP
          in: header
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: TRANSACTION_ID
          in: header
          schema:
            type: string
          example: f7357347-440a-4c2d-b862-71cc787c763e
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}